<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="host-base-url" content="{{hostBaseUrl}}">
  <meta name="atl-token" content="{{token}}" />
  <meta name="client-key" content="{{clientKey}}" />
  <meta name="issue-key" content="{{issueKey}}" />
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.6.11/css/aui.css" media="all">
  <!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.6.11/css/aui-ie9.css" media="all"><![endif]-->
  <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="{{hostScriptUrl}}" type="text/javascript"></script>
  <script src="/js/bower_components/engine.io-client/engine.io.js"></script>
</head>
<body>
  <div id="whoslooking-onlookers" class="ac-content">
      <ul id="whoslooking-onlookers-list"></ul>
  </div>
  <script src="{{furl '/js/addon.js'}}"></script>
</body>
</html>
